body{
    margin-left:20px;
    justify-content: center;
    display: center;
   

}
.subtitulo{
    line-height: 1.15;
}

.container{
    display: flex;
    align-items: center;
 
   
}
.btn{
    text-decoration: none;
    padding: 8px 60px;
    position: relative;
    min-width: 200px;
}

.btn-1{
    background-color: rgb(171, 170, 170);
    color: white;
    border-radius: 30px;
    border-color: black;
    width: 200px;
}

.btn-1::after, .btn-1::before{
    content:"" ;
    position: absolute;
    opacity: 0.1;
    background-color: black;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left:0;
    bottom: 0;
    z-index:-1;
    transition: transform 0.3s ease;
}

.btn-1:hover{
    transform: translate(-12px, -12px);
}

.btn-1:hover::after{
    transform: translate(6px, 6px);

}

.btn-1:hover::before{
    transform: translate(12px, 12px);
}


hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 50%;
    margin-left: 0;
}
.skills{
    display: flex;
    align-items: center;
}
.skills-1{
    background-color: rgb(229, 228, 228);
    color: black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
  
}

i{
    margin: px;
    color: grey;
    width: 20px ;
    padding:5px 5px;
}

    .input-gorup{
    position: relative;
}

input{
    display: block;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    font:inherit;
    counter: white;
}

label{
    position: absolute;
    display: inline-flex;
    column-gap: 10px;
    align-items: center;
    transition: transform .25, opacity .25s;
}

.icon {
    display:inline-flex;
    opacity: 0;
}

input:focus+label {
    transform: translateX(26px);
}

input:focus+label .icon {
    opacity: 1;
    transition: opacity .25px;
}

input:focus::placeholder{
    opacity: 0;
}
